p {
  margin: 8px 0px; }

body {
  position: relative; }

.crawl-input {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }

.crawl-summary {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  align-items: center; }

.crawl-notification {
  display: flex;
  flex-direction: column; }

.crawl-dowload {
  display: flex;
  flex-direction: column;
  margin-left: 32px; }

.dowload-btn {
  display: block;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  width: 280px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  background-color: #0066ff;
  color: white;
  margin-top: 16px;
  text-decoration: none; }
  .dowload-btn:hover {
    background-color: #005ce6;
    color: white;
    text-decoration: none; }

.data-list {
  margin: 48px 0px 32px; }

.data-item {
  margin-top: 16px;
  border-bottom: 1px solid gray; }

.data-list tr:nth-child(even) {
  background-color: #f2f2f2; }

.data-list tr:hover {
  background-color: #ddd; }

.data-list th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white; }

.data-item__id, .data-item__collection {
  text-align: center; }
