<div class="crawl-input">
  <form method="get" action="/crawling" class="mt-4">
    <div class="form-group">
      <label for="source">Crawl URL</label>
      <input type="text" class="form-control" id="source" placeholder="Enter your URL here" name="source">
    </div>
    <button type="submit" class="btn btn-primary">Start crawling data</button>
  </form>
</div>